<%- include("includes/head.ejs") %>

<%- include("includes/header.ejs") %>

<div class="box">
    <h1>Your Booked Sessions</h1>
    <% if (sessions.length === 0) { %>
        <p>No sessions booked yet.</p>
    <% } else { %>
        <ul>
            <% sessions.forEach(session => { %>
                <li>
                    <strong>Mentor:</strong> <%= session.mentorName %> |
                    <strong>Date:</strong> <%= session.date %> |
                    <strong>Time:</strong> <%= session.time %>
                </li>
            <% }) %>
        </ul>
    <% } %>
</div>
